*
!bin
!docker/web
!config
!migrations
!public
!src
!templates
!translations
!var/documents
!var/key_value_store
!var/sessions/.gitkeep
!behat.yml
!.env
!composer.json
!composer.lock
!LICENCE
!symfony.lock
