version: "2"

services:

    web:
        build:
            context: .
            dockerfile: ./docker/web/Dockerfile
        env_file:
            - .env
        depends_on:
            - database
            - mailer
        volumes:
            - ./var/documents:/app/var/documents
            - ./var/key_value_store:/app/var/key_value_store
            - ./var/sessions:/app/var/sessions
            - ./var/log:/app/var/log
            # Uncomment following line when in dev
            # - .:/app
        restart: "no"
        labels:
            - traefik.http.routers.web.rule=Host(`REPLACE_WITH_YOUR_HOST`)
            - traefik.http.routers.web.entrypoints=web
            - traefik.http.middlewares.https-redirect.redirectscheme.scheme=https
            - traefik.http.routers.web.middlewares=https-redirect@docker
            - traefik.http.routers.web-secure.rule=Host(`REPLACE_WITH_YOUR_HOST`)
            - traefik.http.routers.web-secure.entrypoints=web-secure
            - traefik.http.routers.web-secure.tls=true

    database:
        image: mysql:5
        environment:
            MYSQL_ROOT_PASSWORD: changeme
            MYSQL_DATABASE: jeyser
            MYSQL_USER: jeyser
            MYSQL_PASSWORD: jeyser
        volumes:
            - "./docker/mysql:/var/lib/mysql"
        restart: "no"
        labels:
            - traefik.enable=false

    traefik:
        image: traefik:2.0
        command:
            - "--log.level=INFO"
            - "--providers.docker"
            - "--metrics.prometheus.entrypoint=metrics"
            - "--ping"
            - "--entryPoints.web.address=:80"
            - "--entryPoints.web-secure.address=:443"
            - "--certificatesresolvers.letsencrypt.acme.httpChallenge=true"
            - "--certificatesResolvers.letsencrypt.acme.httpchallenge.entryPoint=web"
            - "--certificatesResolvers.letsencrypt.acme.email=REPLACE_WITH_YOUR_EMAIL"
            - "--certificatesResolvers.letsencrypt.acme.storage=/letsencrypt/acme.json"
            - "--certificatesResolvers.letsencrypt.acme.keytype=EC256"
        ports:
            - "80:80"
            - "8080:8080"
            - "443:443"
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - "./docker/traefik/letsencrypt:/letsencrypt"
        restart: "no"
        labels:
            - traefik.enable=false

    mailer:
        build: ./docker/mail
        restart: "no"
        labels:
            - traefik.enable=false
