{% extends "OuestINSASignatureBundle::layout.html.twig" %}

{% block content_title %}
    Crée ta propre signature <span class="label label-warning">BETA</span>
{% endblock %}

{% block content_bundle %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="oi_signature">
                <div class="oi_signature_container">
                    <div class="oi_logo">
                        <img src="/img/oi_logo.png">
                    </div>

                    <div class="oi_content">
                        <span class="oi_highlight" id="name"></span> • <em id="pole"></em><br>
                        <span class="oi_highlight"><i class="fa fa-phone"></i></span> (+33) (0)2 23 23 85 72 • <span class="oi_highlight"><i class="fa fa-mobile"></i></span> <em id="mobile"></em><br>
                        <span class="oi_highlight"><i class="fa fa-briefcase"></i></span><strong> Ouest INSA</strong> • Vos projets d'aujourd'hui par les ingénieurs de demain<br>
                        <span class="oi_highlight"><i class="fa fa-envelope"></i></span> <em id="mail"></em> • <span class="oi_highlight"><i class="fa fa-globe"></i></span> www.ouest-insa.fr<br>
                    </div>

                    <br style="clear: both;">
                    <style>/* Couleurs logo Ouest-INSA : 6FC7D8 1E4093 */
                        .oi_signature_container {
                            margin: 0px;
                            margin-bottom: 10px;
                            width: 570px;
                            background-color: #ffffff;
                            border: 1px solid black;
                            padding: 10px;
                        }
                        .oi_logo {
                            float: left;
                         }
                         /*.oi_logo img {
                             width: 100px;
                         }*/
                         .oi_content {
                            float: left;
                            margin: 0px 0px 0px 10px;
                            padding-left: 10px;
                            border-left: 4px #1E4093 solid;
                            font-family: 'Helvetica', 'Arial';
                            font-size: 12px;
                            line-height: 17px;
                            color: #555;

                        }
                        .oi_highlight {
                            font-weight: bold;
                            color: #1E4093;
                        }
                        .oi_content em{
                            font-style: normal;
                        }
                        .signature-form{
                          text-align:right;
                        }
                    </style>
                </div>
              </div>


          </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form class="signature-form">
                Prénom Nom : <input name="nom" placeholder="Prénom Nom" id="nameInput" onchange="update();" onkeyup="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();" type="text"><br>
                Pôle : <input name="pole" placeholder="Pôle SI" id="poleInput" onchange="update();" onkeyup="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();" type="text"><br>
                Mobile : <input name="mobile" placeholder="(+33) (0)6 00 00 00 00" id="mobileInput" onchange="update();" onkeyup="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();" type="text"><br>
                Mail personnel : <input name="mail" placeholder="prenom.nom@ouest-insa.fr" id="mailInput" onchange="update();" onkeyup="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();" type="text"><br>
            </form>
        </div>
    </div>
    <div class="row">
        <a href="#" class="btn btn-info">Générer ta signature</a> Ne fonctionne pas pour le moment. Utilisez la fonction screenshot de firefox (par exemple) en selectionnant la signature pour générer l'image de votre signature.
    </div>
    <script type="text/javascript">
        var fields = {0 : document.getElementById("mail")};
        var inputs = {0 : document.getElementById("mailInput")};

        update();
        function update(){
            for(var i = 0; i< fields.lenght; i++){
                fields[i].textContent = inputs[i].value;
            }
             document.getElementById("name").textContent = document.getElementById("nameInput").value;
             document.getElementById("pole").textContent = document.getElementById("poleInput").value;
             document.getElementById("mobile").textContent = document.getElementById("mobileInput").value;

        }
  </script>
</div>
{% for user in users %}
    <!--<p>{{ user.username }}</p>-->
{% endfor %}
{% endblock %}
