<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
</head>
<body>
<div class="test">
    <div class="content-wrapper">
<div class="container-fluid">
    <div class="row">
        <div class="custom-col">
            <div class="oi_signature_border">
                <div id="oi_signature_screen">
                    <div class="oi_logo">
                        <img src="/img/oi_logo.png">
                    </div>

                    <div class="oi_content">
                        <span class="oi_highlight" id="name"></span> • <em id="pole"></em><br>
                        <span class="oi_highlight"><i class="fa fa-phone"></i></span> (+33) (0)2 23 23 85 72 • <span class="oi_highlight"><i class="fa fa-mobile"></i></span> <em id="mobile"></em><br>
                        <span class="oi_highlight"><i class="fa fa-briefcase"></i></span><strong> Ouest INSA</strong> • Vos projets d'aujourd'hui par les ingénieurs de demain<br>
                        <span class="oi_highlight"><i class="fa fa-envelope"></i></span> <em id="mail"></em> • <span class="oi_highlight"><i class="fa fa-globe"></i></span> www.ouest-insa.fr<br>
                    </div>

                    <br style="clear: both;">
                    
                </div>
              </div>
                   <form class="signature-form">
                Prénom Nom : <input class="form-control" name="nom" placeholder="Prénom Nom" id="nameInput" onchange="update();"  onpaste="this.onchange();" oninput="this.onchange();" type="text"><br>
                Pôle : <input class="form-control" name="pole" placeholder="Pôle SI" id="poleInput" onchange="update();" onpaste="this.onchange();" oninput="this.onchange();" type="text"><br>
                Mobile : <input class="form-control" name="mobile" placeholder="(+33) (0)6 00 00 00 00" id="mobileInput" onchange="update();" onpaste="this.onchange();" oninput="this.onchange();" type="text"><br>
                Mail personnel : <input class="form-control" name="mail" placeholder="prenom.nom@ouest-insa.fr" id="mailInput" onchange="update();" onpaste="this.onchange();" oninput="this.onchange();" type="text"><br>
            </form>

          </div>
    </div>

    <div class="row">
        <a href="#" onclick="generate()" class="btn btn-info">Générer ta signature</a> <a href="{{ path('OuestINSA_signature_homepage') }}" class="btn btn-warning">Retour sur l'ERP</a>
    </div>

    <div id="css-xnjket" style="visibility: hidden;">
        <a onclick="test()"  class="css-1htfbdm">
            <img src="data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZmZmZmZmIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xOSA2LjQxTDE3LjU5IDUgMTIgMTAuNTkgNi40MSA1IDUgNi40MSAxMC41OSAxMiA1IDE3LjU5IDYuNDEgMTkgMTIgMTMuNDEgMTcuNTkgMTkgMTkgMTcuNTkgMTMuNDEgMTJ6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPgo=">
        </a>
        <div id="canvas-parent">

        </div>
    </div>

</div>
</div>
</div>

    <style>/* Couleurs logo Ouest-INSA : 6FC7D8 1E4093 */
        body {
            font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
            font-weight: 400;
        }

        .test{
            margin-left: 250px;
            margin-top: 10px;
        }
        .custom-col {           
            width: 570px;
        }

        .oi_signature_border {                          
            border: 1px solid black;
            margin: -1px;
            margin-bottom: -1px;    
            margin-bottom: 10px;
        }

        #oi_signature_screen {
            margin: 0px;
            width: 550px;
            background-color: #ffffffff;
            padding: 10px;
        }
        .oi_logo {
            float: left;
         }
         /*.oi_logo img {
             width: 100px;
         }*/
         .oi_content {
            float: left;
            margin: 0px 0px 0px 10px;
            padding-left: 10px;
            border-left: 4px #1E4093 solid;
            font-family: 'Helvetica', 'Arial';
            font-size: 12px;
            line-height: 17px;
            color: #555;

        }
        .oi_highlight {
            font-weight: bold;
            color: #1E4093;
        }
        .oi_content em{
            font-style: normal;
        }

        .signature-form input {
            width: 285px;
        }

        #css-xnjket{
            background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 99999998;
            width: 100%;
            height: 100%;
            transition: transform 5s cubic-bezier(0.42, 0, 0.58, 1) 2s, opacity 5s cubic-bezier(0.42, 0, 0.58, 1) 2s, -webkit-transform 5s cubic-bezier(0.42, 0, 0.58, 1) 2s;
        }

        .css-1htfbdm {
            position: absolute;
            right: 20px;
            top: 20px;
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
            margin-bottom: 1.5rem;
            cursor: pointer;
        }
        #canvas-parent{
            position: fixed;
            z-index: 99999999;

            padding: 0;
            margin: auto;
            display: block;
            width: 550px;
            height: 88px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            /*animation-name: test;
            animation-duration: 10s;*/
        }
        
        /*@keyframes test{
            from { margin-top: 0px; }
            to   { margin-top: 200px; }
        }*/
    </style>

    <script type="text/javascript">
        var fields = new Array(
            document.getElementById("name"),
            document.getElementById("pole"),
            document.getElementById("mobile"),
            document.getElementById("mail")
        );
        var inputs = new Array(
            document.getElementById("nameInput"),
            document.getElementById("poleInput"),
            document.getElementById("mobileInput"),
            document.getElementById("mailInput")
        );

        update();
        function update(){
            for(var i = 0; i < 4; i++){
                fields[i].textContent = inputs[i].value;
            }
        }

        function generate(){
            var element = document.getElementById("canvas-parent");
            while (element.firstChild) {
                element.removeChild(element.firstChild);
            }

            html2canvas(document.querySelector("#oi_signature_screen")).then(function(canvas) {
                document.getElementById("canvas-parent").appendChild(canvas);
            });
            document.getElementById("css-xnjket").style.visibility = "visible"; 
        }

        function test(){
            document.getElementById("css-xnjket").style.visibility = "hidden"; 
        }
    </script>
    <script type="text/javascript" src="/js/html2canvas.min.js"></script>

</body>
</html>