{% extends "base.html.twig" %}

{% block menu_main %}{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

    <div class="middle-box">
        <img src="{{ param('logo') }}" class="img-responsive"/>
        {% block content_bundle %}
            {% block fos_user_content %}{% endblock %}
        {% endblock %}
    </div>

    <style>
        .main-footer{margin: 0}
        .content-wrapper{
            margin-left: 0;
            /*background-image: url('https://images.unsplash.com/photo-1468276311594-df7cb65d8df6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=80');*/
            background-image: url('https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=80');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .middle-box{
            background-color: rgba(255, 255, 255, 0.45);
            box-shadow: #000 0 0 20px;
            border-radius: 10px;
            max-width: 350px;
            padding: 15px;
            margin: 5rem auto;
        }
        .form-heading{
            text-align: center;
        }
        /*.main-footer{
            background-color: revert;
        }*/
        /*.main-footer .text-muted{
            color: #ffffff;
        }*/
        input[type="submit"]{
            text-align: center;
            width: 100%;
        }
    </style>
{% endblock %}
